.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search_form {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.search_form input {
    margin-right: 10px;
    width: 50%;
}

.home_h1 {
    border-right: 4px solid;
    width: 27ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(27),
    blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    30% {
        border-color: transparent;
    }
}

.noposts {
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.noposts a {
    padding: 10px 25px;
}

@media (max-width: 768px) {
    .home_h1 {
        font-size: 1.5em; /* Ajustando o tamanho da fonte para telas menores */
    }

    .search_form input {
        width: 100%; /* Faz com que o input ocupe toda a largura disponível */
        max-width: none; /* Removendo a largura máxima do input */
    }
}


