.navbar {
    display: flex;
    box-shadow: var(--color--2) 0px -2px 10px 0px;
    background-color: var(--color-navbar);
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    font-size: 1.2em;
    color: var(--color--5);
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.active {
    background-color: var(--color--2);
    border-radius: 6px;
    color: var(--color--7);
    border: 1px solid var(--color--4);
}

@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }
    .links_list li a {
        padding: .4em .4em;
        font-size: .8em;
        margin: 1px;
    }

    .brand {
        flex-grow: 1;
        text-align: center;
    }
}
