.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* ou qualquer cor de fundo que você preferir */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.links_list {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0;
}

.links_list li {
    display: flex;
}

.links_list a {
    text-decoration: none;
    color: #333; /* ou qualquer cor que você preferir */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    color: #007bff; /* ou qualquer cor para indicar o item ativo */
}
